* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: hsl(240, 90%, 55%);
    --secondary-color: hsl(260, 90%, 55%);
    --tertiary-color: hsl(200, 90%, 55%);
    --quaternary-color: hsl(280, 90%, 55%);
}

body, button {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
}

.progress-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.progress-clock__time-digit {
    font-size: 3em;
    padding: 0.2em 0.4em;
}

.progress-clock__time-colon {
    font-size: 2em;
}

.progress-clock__rings {
    width: 70%;
    height: auto;
    max-width: 256px;
}

